/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,body {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'RobotoDraft', sans-serif;
}

.emobutton {
    width: 95%;
    height: 100px;
    margin: 5px;
    text-align: center;
    border: 1px solid #3333ff;
}

.bottom-pane {
    text-align: center;
}

.standard {
    background: #fff176;
}



.details {
    background-color: #ffcbbb;
}

.attribute-box .details {
    border-bottom: 1px solid rgba(255,86,33,0.5);
}

div {
    display: block;
}

.box:not(.top) .details {
    padding: 16px;
}

.box:not(.top) h3 {
    padding: 16px;
    color: white;
}

.material-orange, .attribute-box h3 {
    background-color: #ff5621;
}

h3 {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin: 0;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    float: left;
}

#main {
    clear: both;
}

user agent stylesheeth3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}