/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}



html,body {
    height: 100%;
    margin: 0;
    background-color: #66BCDD;
    font-family: 'RobotoDraft', sans-serif;
}

.emobutton {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.bottom-pane {
    text-align: center;
}

.standard {
    background: #fff176;
}

.details {
    background-color: #ffcbbb;
}

.attribute-box .details {
    border-bottom: 1px solid rgba(255,86,33,0.5);
}

div {
    display: block;
}

.box:not(.top) .details {
    padding: 16px;
}

.box:not(.top) h3 {
    padding: 16px;
    color: white;
}

.material-orange, .attribute-box h3 {
    background-color: #ff5621;
}

h3 {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin: 0;
}

user agent stylesheeth3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.navbar-default {
    background-color: #FFD670;
    border-color: #FFCC4D;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
    background-color: #FFCC4D;
    border-color: #FFCC4D;
}

.pages {
    position: absolute;
    top: 10%;
    width: 100%;
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@-webkit-keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@-webkit-keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

.pages.ng-enter {
    -webkit-animation: slideInRight 0.2s both ease-in;
    animation: slideInRight 0.2s both ease-in;
}

.pages.ng-leave {
    -webkit-animation: slideOutLeft 0.2s both;
    animation: slideOutLeft 0.2s both;
}